.headline-container {
    display: flex;
    align-items: center;

    .redLine-contact-headline {
        width: 50px;
        height: 4px;
        background-color: #FF4747;
        border-radius: 4px;
        margin-right: 25px;
    }

    h2 {
        font-size: 90px;
        font-weight: 700;
        color: white;
        margin-left: 25px;
    }
}

.contact-main-div {
    padding: 0 100px 0 100px;
    
}
