<div id="contact">
  <div class="headline-container">
    <div class="redLine-contact-headline"></div>
    <h2>Contact</h2>
  </div>
  <div class="contact-main-div">
    <div class="contact-left-section">
      <h3>Got a problem to solve?</h3>
      <div>Contact me through this form. I am interested in hearing from you, knowing your ideas and contributing to your projects with my work.</div>
      <div>Need a Frontend Developer?  <b>Contact me!</b> </div>
    </div>
    <div class="contact-right-section">
      <form>
        <input class="input" placeholder="Your name" type="text" required>
        <input class="input" placeholder="Your email" type="email" required>
        <textarea class="input message" placeholder="Your message" type="text" required></textarea>
        <div class="privacyPolicy_div">
          <input id="accept_policy" class="checkbox" type="checkbox" required>
          <label for="accept_policy">I've read the <a href="privacyPolicy">privacy policy</a> and agree to the processing of my data as outlined.</label>
        </div>
        <div class="submitButton_div">
          <button type="submit">Send message</button>
        </div>
      </form>
    </div>
  </div>
</div>
