<div id="contact">
  <div class="headline-container">
    <div class="redLine-contact-headline"></div>
    <h2>Contact</h2>
  </div>
  <div class="contact-main-div">
    <div class="contact-left-section">
      <h3>Searching for a Junior Developer?</h3>
      <div>Contact me through this form.<br>  If you believe I could be a valuable asset to your projects, I look forward to hearing from you!</div>
    </div>
    <div class="contact-right-section">

      <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <input [(ngModel)]="contactData.name" name="name" #name="ngModel" minlength="6" class="input" [ngClass]="{ 'invalid': !name.valid && name.touched, 'valid': name.valid && name.touched }" placeholder="Your name" type="text" required>
        @if (!name.valid && name.touched) {
          <span class="error-message">Your name is required</span>
        }
        <input [(ngModel)]="contactData.email" name="email" #email="ngModel" class="input" [ngClass]="{ 'invalid': !email.valid && email.touched, 'valid': email.valid && email.touched }" placeholder="Your email" type="email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
        @if (!email.valid && email.touched) {
          <span class="error-message">Your email is required</span>
        }
        <textarea [(ngModel)]="contactData.message" name="message" #message="ngModel" minlength="6" class="input message" [ngClass]="{ 'invalid': !message.valid && message.touched, 'valid': message.valid && message.touched }" placeholder="Your message" type="text" required></textarea>
        @if (!message.valid && message.touched) {
          <span class="error-message">Your message is empty</span>
        }
        <div class="privacyPolicy_div">
          <input [(ngModel)]="policyAccepted" name="checkbox" id="accept_policy" class="checkbox" type="checkbox" required>
          <label for="accept_policy">I've read the <a href="privacyPolicy">privacy policy</a> and agree to the processing of my data as outlined.</label>
        </div>
        <div class="submitButton_div">
          <button type="submit" [disabled]="!policyAccepted" [ngClass]="{ 'activateButton': contactForm.form.valid && policyAccepted, 'disabledButton': !contactForm.form.valid || !policyAccepted }">Send message  :)</button>
        </div>
      </form>

    </div>
    <img class="contact-redShadow" src="assets/img/red1.png">
  </div>
  <div class="goUpButton-div">
    <a href="#atf"><img src="assets/img/goUp_button.png"></a>
  </div>
</div>

