<header>
    <a href="#atf">
      <img src="assets/img/logo.png">
    </a>
    <nav>
        <a (click)="scrollToAboutMeSection()">About me</a>
        <a (click)="scrollToSkillsSection()">Skills</a>
        <a (click)="scrollToPortfolioSection()">Portfolio</a>
    </nav>

    <div class="burgerMenu" (click)="toggleNavbar()">
      <img src="assets/img/burgerMenu.png">
    </div>
</header>

<div class="mobileNavbar" *ngIf="showNavbar">
  <div class="closeButton">
    <img (click)="toggleNavbar()" src="assets/img/closeButton.png">
  </div>
  <a (click)="toggleNavbar(); scrollToAboutMeSection()">About me</a>
  <a (click)="toggleNavbar(); scrollToSkillsSection()">Skills</a>
  <a (click)="toggleNavbar(); scrollToPortfolioSection()">Portfolio</a>
</div>

