header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 100px 32px 100px;
    background-color: #141D2F;
    z-index: 999;

    img {
        width: 180px;
        height: 55px;
    }

    nav a {
        color: #FFFFFF;
        font-size: 23px;
        font-weight: 300;
        text-decoration: none;
        margin-left: 46px;
        cursor: pointer;
        position: relative;

        &:hover {
            color: #FA7902;
        }
    }

    nav a::after {
        content: '';
        position: absolute;
        bottom: -5px; 
        left: 0;
        width: 0;
        height: 2px; 
        background-color: #FF4747; 
        transition: width 0.4s ease; 
    }

    nav a:hover::after {
        width: 100%; 
    }   
}

