header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 100px 37px 100px;
    background-color: #141D2F;
    z-index: 999;

    img {
        width: 180px;
        height: 55px;
    }

    nav a {
        color: #FFFFFF;
        font-size: 23px;
        font-weight: 300;
        text-decoration: none;
        margin-left: 46px;
        cursor: pointer;

        &:hover {
            color: #FA7902;
        }
    }
}

