<footer>
    <div class="logo-and-legal-div">
        <a href="#atf">
          <img src="assets/img/logo.png">
        </a>
        <div class="legal-div">
          <a href="imprint">Imprint</a>
          <span> | </span>
          <a href="privacyPolicy">Privacy Policy</a>
        </div>
    </div>
    <div class="copyright">© Julian Heupgen 2024</div>
    <div class="socialMedia-footer">
      <a href="https://github.com/JulianHeupgen">
        <img src="assets/img/github.png">
      </a>
      <a href="mailto:julianheupgen@gmail.com">
        <img src="assets/img/email.png">
      </a>
      <a>
        <img src="assets/img/linkedIn.png">
      </a>
    </div>
</footer>
