footer {
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 100px 0 100px;
    color: white;
    z-index: 999;
    border-top: 4px solid #FA7902;
}

