<img class="project-image" src="assets/img/{{ project.image }}">
<div>
    <div class="project-title">{{ project.title }}</div>
    <div class="project-technologies"> 
        <ng-container *ngFor="let technology of project.technologies; let last = last">
            {{ technology }}
            <span *ngIf="!last"> | </span>
        </ng-container>
    </div>
    <div class="project-description">{{ project.description }}</div>
    <div class="links-wrapper">
        <a href="{{ project.liveTest_link }}" class="livetest-link" target="_blank">Live test</a>
        <a href="{{ project.gitHub_link }}" class="github-link" target="_blank">Github</a>
    </div>
</div>
