.project-image {
    height: 500px;
    width: 500px;
    margin: 0px 70px 0 70px;
}

.project-title {
    font-size: 32px;
    font-weight: 700;
    color: #FF4747;
    margin-bottom: 10px;
}

.project-technologies {
    font-size: 23px;
    font-weight: 400;
    color: #FA7902;
    margin-bottom: 10px;
}

.project-description {
    max-width: 650px;
    font-size: 16px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
}

.livetest-link {
    color: white;
    text-decoration: none;
    font-size: 23px;
    font-weight: 400;
    background-color: #FF4747;
    border-radius: 10px;
    padding: 15px 30px 15px 30px;

    &:hover {
        cursor: pointer;
        background-color: #FA7902;
    }

}

.github-link {
    color: white;
    text-decoration: none;
    margin-left: 40px;
    font-size: 23px;
    font-weight: 400;
    border-radius: 10px;
    border: 1px solid #FA7902;
    padding: 15px 30px 15px 30px;

    &:hover {
        cursor: pointer;
        background-color: #FA7902;
    }
}



@media(max-width: 1400px) {
    .project-image {
        height: 340px;
        width: 340px;
        margin: 0px 50px 0 50px;
    }
    
    .project-title {
        font-size: 30px;
        margin-bottom: 15px;
    }
    
    .project-technologies {
        font-size: 20px;
        margin-bottom: 8px;
    }
    
    .project-description {
        max-width: 450px;
        font-size: 15px;
        margin-bottom: 30px;
    }
    
    .livetest-link {
        font-size: 21px;
        padding: 9px 25px 9px 25px;
    }
    
    .github-link {
        margin-left: 27px;
        font-size: 21px;
        padding: 9px 25px 9px 25px;
    }
}

@media(max-width: 1100px) {
    .project-image {
        margin: 60px 50px -30px 50px;
    }

    .project-title {
        text-align: center;
    }

    .project-technologies {
        text-align: center;
    }
    
    .project-description {
        text-align: center;
    }

    .links-wrapper {
        display: flex;
        justify-content: center;
    }
}

@media(max-width: 510px) {
    .project-image {
        height: 340px;
        width: 340px;
        
    }
    
    .project-title {
        font-size: 30px;
        margin-bottom: 15px;
    }
    
    .project-technologies {
        font-size: 20px;
        margin-bottom: 8px;
    }
    
    .project-description {
        max-width: 450px;
        font-size: 15px;
        margin-bottom: 30px;
    }
    
    .livetest-link {
        font-size: 21px;
        padding: 9px 25px 9px 25px;
    }
    
    .github-link {
        margin-left: 27px;
        font-size: 21px;
        padding: 9px 25px 9px 25px;
    }
}

