<div id="aboutMe" class="aboutMe-wrapper">
    <div class="aboutMe-leftSection">
        <h2>About me</h2>
        <div class="personal-introduction">My name is Julian Heupgen. I'm a German-speaking Junior Frontend Developer from Baden-Württemberg, Germany. My journey into web development began during my time at the Developer Akademie, where I gained a solid foundation in HTML, CSS, JavaScript and Angular. Through various projects, I've honed my skills and amassed valuable experience in the field.</div>
        <div data-aos="zoom-in-down" data-aos-duration="1000" class="bulp-section">
            <img src="assets/img/bulp.png">
            <div>Web development isn't just a profession for me, it's a true passion. I'm eager to establish myself in this industry and gain firsthand experience within a professional team. I thrive on teamwork and relish the opportunity to tackle challenging projects.</div>
        </div>
        <div data-aos="zoom-in-down" data-aos-duration="1700" class="puzzle-section">
            <img src="assets/img/puzzle.png">
            <div>Collaborating with others is something I value greatly, as I believe it fosters innovation and produces the best outcomes. I'm committed to expanding my knowledge and making meaningful contributions to your team.</div>
        </div>
    </div>
    <div class="aboutMe-rightSection">
        <img class="aboutMe-personalImage" src="assets/img/personal_image2.png">
        <div class="orangeLine"></div>
        <img class="aboutMe-redShadow" src="assets/img/red2.png">
    </div>
    <img class="aboutMe-redShadowMobile" src="assets/img/red2.png">
</div>

