.skills-wrapper {
    width: 100%;
    display: flex;
    margin: 250px 0 150px 0;

    .skills-leftWrapper {
        width: 65%;
        display: flex;
        flex-wrap: wrap;
        padding: 0 100px 0 100px;
        position: relative;

        .skill {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 60px 160px 60px 0;
            color: white;

            img {
                width: 90px;
                height: 90px; 
                margin-bottom: 18px;
                z-index: 997;
            }

            .skill-name {
                font-size: 16px;
                font-weight: 600;
                z-index: 997;
            }
        }

        .skills-orangeShadow {
            position: absolute;
            bottom: -160px;
            left: -350px;
            height: 800px;
            width: 700px;
        }
    }


    .skills-rightWrapper {
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;

        .mySkills-header {
            display: flex;
            align-items: center;

            h2 {
                font-size: 96px;
                font-weight: 700;
                color: white;
                margin-right: 50px;
            }

            .skills-redLine {
                width: 120px;
                height: 4px;
                background-color: #FF4747;
            }
        }

        .skills-text-and-button {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-right: 170px;
            margin-top: -50px;
        }

        .skills-text {
            font-size: 18px;
        }

        .skills-button {
            width: 200px;
            margin-top: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            background-color: #FA7902;
            border-radius: 10px;
            font-size: 23px;
            font-weight: 400;
            padding: 10px;
            text-decoration: none;
            cursor: pointer;
            transition: transform 0.1s ease-in-out;

            &:hover {
                background-color: #FF4747;
                transform: scale(1.125);
            }
        }
    }
}

