.skills-wrapper {
    width: 100%;
    display: flex;
    margin: 250px 0 150px 0;

    .skills-leftWrapper {
        width: 65%;
        display: flex;
        flex-wrap: wrap;
        padding: 0 100px 0 100px;
        position: relative;

        .skill {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 60px 160px 60px 0;
            color: white;

            img {
                width: 90px;
                height: 90px; 
                margin-bottom: 18px;
                z-index: 997;
            }

            .skill-name {
                font-size: 16px;
                font-weight: 600;
                z-index: 997;
            }
        }

        .skills-orangeShadow {
            position: absolute;
            bottom: -160px;
            left: -350px;
            height: 800px;
            width: 700px;
        }
    }


    .skills-rightWrapper {
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;

        .mySkills-header {
            display: flex;
            align-items: center;

            h2 {
                font-size: 96px;
                font-weight: 700;
                color: white;
                margin-right: 50px;
            }

            .skills-redLine {
                flex: 1 1 0;
                height: 4px;
                background-color: #FF4747;
            }
        }

        .skills-text-and-button {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-right: 170px;
            margin-top: -50px;
        }

        .skills-text {
            font-size: 18px;
        }

        .skills-button {
            width: 200px;
            margin-top: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            background-color: #FA7902;
            border-radius: 10px;
            font-size: 23px;
            font-weight: 400;
            padding: 10px;
            text-decoration: none;
            cursor: pointer;
            transition: transform 0.1s ease-in-out;

            &:hover {
                background-color: #FF4747;
                transform: scale(1.125);
            }
        }
    }
}



@media(max-width: 1700px) {
    .skills-leftWrapper {
        padding: 0 30px 0 100px !important;
    }
        
    .mySkills-header {
        h2 {
            font-size: 77px !important;
        }
    }

    .skill {
        margin: 60px 130px 60px 0 !important;  
    }
}

@media(max-width: 1350px) {
    .skills-wrapper {
        flex-direction: column;
        margin: 120px 0 150px 0;
    }

    .skills-rightWrapper {
        order: -1;
        margin-left: auto;
        width: 45% !important;
    }

    .skills-leftWrapper {
        width: 85% !important;
        justify-content: center !important;
        padding:  0 0 0 50px !important;
        margin-top: 50px;
    }

    .mySkills-header {
        h2 {
            font-size: 84px !important;
        }
    }

    .skills-button {
        display: none !important;
    }
}

@media(max-width: 1020px) {
    .skills-rightWrapper {
        width: 55% !important;
    }
}

@media(max-width: 890px) {
    .skill {
        margin: 50px 80px 50px 0 !important;

        img {
            width: 80px;
            height: 80px; 
            margin-bottom: 14px;
        }

        .skill-name {
            font-size: 14px;
        }
    }
}

@media(max-width: 830px) {
    .skills-rightWrapper {
        width: 65% !important;
    }

    .mySkills-header {
        h2 {
            font-size: 72px !important;
            margin-right: 30px !important;
        }
    }

    .skills-text-and-button {
        padding-right: 80px !important;
    }

    .skills-text {
        font-size: 16px !important;
    }
  
    .skill {
        margin: 35px 50px 35px 0 !important;

        img {
            width: 70px !important;
            height: 70px !important; 
            margin-bottom: 12px;
        }
    }
}

@media(max-width: 700px) {
    .skills-rightWrapper {
        width: 75% !important;
    }

    .mySkills-header {
        h2 {
            font-size: 64px !important;
        }
    }

    .skill {
        margin: 35px 30px 35px 30px !important;

        img {
            width: 80px !important;
            height: 80px !important; 
            margin-bottom: 10px !important;
        }

        .skill-name {
            font-size: 12px !important;
        }
    }

    .skills-orangeShadow {
        width: 600px !important;
    }
}

@media(max-width: 685px) {
    .skills-rightWrapper {
        width: 85% !important;
    }

    .skill {
        margin: 35px 20px 35px 20px !important;
    }
}


@media(max-width: 445px) {
    .skills-rightWrapper {
        width: 90% !important;
    }
    .mySkills-header {
        h2 {
            font-size: 50px !important;
            margin-right: 15px !important;
        }
    }
    .skills-text-and-button {
        padding-right: 30px !important;
        margin-top: 0px !important;
    }

    .skills-text {
        font-size: 15px !important;
    }
}

