<div class="atf-div">
    <div class="left-section">
        <img class="atf-shadows" src="assets/img/redAndOrange.png">
        <img class="personal-image1" src="assets/img/personal_image1.png">
    </div>
    <div class="right-section">
      <div class="welcome">
          <div class="iAm-text">I am</div>
          <div>
              <div class="name">Julian Heupgen</div>
              <div class="title">FRONTEND DEVELOPER</div>
          </div>
      </div>
      <a class="lets-talk-button">Let's Talk !</a>
    </div>
</div>