<div id="atf" class="atf-div">
    <div class="left-section">
        <img class="atf-shadows" src="assets/img/redAndOrange.png">
        <img class="personal-image1" src="assets/img/personal_image1_compressed.png">
    </div>
    <div class="right-section">
          <div data-aos="flip-left" data-aos-duration="1600" class="welcome">
            <div class="iAm-text">I am</div>
            <div>
              <div class="name">Julian Heupgen</div>
              <div class="title">FULLSTACK DEVELOPER</div>
            </div>
          </div>
          <a class="lets-talk-button"  href="#contact">Let's Talk !</a>
    </div>
</div>

