<div id="atf" class="atf-div">
    <div class="left-section">
        <img class="atf-shadows" src="assets/img/redAndOrange.png">
        @defer (on viewport) {
          <img class="personal-image1" src="assets/img/personal_image1.png">
        }
        @placeholder {
          <p></p>
        }
    </div>
    <div class="right-section">
        @defer (on viewport) {
          <div class="welcome">
            <div class="iAm-text">I am</div>
            <div>
              <div class="name">Julian Heupgen</div>
              <div class="title">FRONTEND DEVELOPER</div>
            </div>
          </div>
        }
        @placeholder {
            <p></p>
        }
          <a class="lets-talk-button"  (click)="scrollToContactSection()">Let's Talk !</a>
    </div>
</div>

