<div>
    <img class="blue-atf-design" src="assets/img/atf_design.png">
</div>
<div class="socialMedia-section">
    <div class="redLine"></div>
    <a href="https://github.com/JulianHeupgen" target="_blank">
        <img class="socialMedia-images" src="assets/img/github.png">
    </a>
    <a href="mailto:julianheupgen@gmail.com">
        <img class="socialMedia-images" src="assets/img/email.png">
    </a>
    <a href="https://linkedin.com/in/julian-heupgen-1652852b1" target="_blank">
        <img class="socialMedia-images" src="assets/img/linkedIn.png">
    </a>
    <a href="mailto:julianheupgen@gmail.com" class="email">julianheupgen&#64;gmail.com</a>
</div>
