.blue-atf-design{
    width: 100%;
    max-width: 1920px;
    height: 850px;
    margin-top: -385px;
}

.socialMedia-section {
    margin-top: -400px;
    display: flex;
    align-items: center;

    .redLine {
        width: 100px;
        height: 4px;
        background-color: #FF4747;
        border-radius: 4px;
        margin-right: 25px;
    }

    .socialMedia-images {
        margin: 0 20px 0 20px;
        transition: transform 0.15s ease-in-out;

        &:hover {
            cursor: pointer;
            transform: scale(1.4);
        }
    }

    .email {
        margin-left: 10px;
        font-size: 23px;
        font-weight: 400;
        color: white;
        cursor: pointer;

        &:hover {
            color: #FA7902;
        }
    }

    a {
        text-decoration: none;
    }
}



@media(max-width: 1615px) {
    .blue-atf-design{ 
        margin-top: -415px;
    }
}

@media(max-width: 1450px) {
    .blue-atf-design{ 
        margin-top: -470px;
    }
    .socialMedia-section {
        margin-top: -160px;
    }
}

@media(min-width: 900px) and (max-width: 1450px) and (max-height: 890px) {
    .socialMedia-section {
        margin-top: -80px;
    }
}

@media(min-width: 900px) and (max-width: 1450px) and (max-height: 840px) {
    .socialMedia-section {
        margin-top: -50px;
    }
}





@media(max-width: 900px) {
    .socialMedia-section {
        margin-top: -180px;
    }
    .redLine {
        width: 55px !important;
    }
    .socialMedia-images {
        margin: 0 10px 0 10px !important;
    }
    .email {
        font-size: 20px !important;
    }
}

@media(max-width: 800px) {
    .blue-atf-design{ 
        margin-top: -520px;
    }
    .socialMedia-section {
        margin-top: -200px;
    }
}

@media(max-width: 800px) and (max-height: 870px) {
    .blue-atf-design{ 
        margin-top: -480px;
    }
}

@media(max-width: 720px) {
    .blue-atf-design{ 
        margin-top: -575px;
    }
    .socialMedia-section {
        margin-top: -215px;
    }
}

@media(max-width: 720px) and (max-height: 860px) {
    .blue-atf-design{ 
        margin-top: -525px;
    }
}

@media(max-width: 690px) {
    .email {
        display: none;
    }
}

@media(max-width: 620px) {
    .blue-atf-design{ 
        margin-top: -630px;
    }
    .socialMedia-section {
        margin-top: -220px;
    }
}

@media(max-width: 620px) and (max-height: 915px) {
    .blue-atf-design{ 
        margin-top: -590px;
    }
    .socialMedia-section {
        margin-top: -190px;
    }
}

@media(max-width: 580px) {
    .blue-atf-design{ 
        margin-top: -690px;
    }
    .socialMedia-section {
        margin-top: -260px;
    }
}

@media(max-width: 580px) and (max-height: 870px) {
    .blue-atf-design{ 
        margin-top: -645px;
    }
    .socialMedia-section {
        margin-top: -240px;
    }
}

@media(max-width: 400px) {
    .blue-atf-design{ 
        margin-top: -760px;
    }
}

@media(max-width: 400px) and (max-height: 910px) {
    .blue-atf-design{ 
        margin-top: -720px;
    }
}

@media(max-width: 400px) and (max-height: 875px) {
    .blue-atf-design{ 
        margin-top: -690px;
    }
    .socialMedia-section {
        margin-top: -230px;
    }
}

@media(max-width: 400px) and (max-height: 835px) {
    .blue-atf-design{ 
        margin-top: -660px;
    }
    .socialMedia-section {
        margin-top: -260px;
    }
}

@media(max-width: 400px) and (max-height: 795px) {
    .blue-atf-design{ 
        margin-top: -620px;
    }
    .socialMedia-section {
        margin-top: -300px;
    }
}

@media(max-width: 400px) and (max-height: 770px) {
    .blue-atf-design{ 
        margin-top: -590px;
    }
    .socialMedia-section {
        margin-top: -310px;
    }
}

@media(max-width: 400px) and (max-height: 745px) {
    .blue-atf-design{ 
        margin-top: -565px;
    }
    .socialMedia-section {
        margin-top: -310px;
    }
}

@media(max-width: 400px) and (max-height: 700px) {
    .blue-atf-design{ 
        margin-top: -535px;
    }
    .socialMedia-section {
        margin-top: -280px;
    }
}

