.blue-atf-design{
    width: 100%;
    height: 850px;
    margin-top: -385px;
}

.socialMedia-section {
    margin-top: -400px;
    display: flex;
    align-items: center;

    .redLine {
        width: 100px;
        height: 4px;
        background-color: #FF4747;
        border-radius: 4px;
        margin-right: 25px;
    }

    .socialMedia-images {
        margin: 0 20px 0 20px;
        transition: transform 0.15s ease-in-out;

        &:hover {
            cursor: pointer;
            transform: scale(1.4);
        }
    }

    .email {
        margin-left: 10px;
        font-size: 23px;
        font-weight: 400;
        color: white;
        cursor: pointer;

        &:hover {
            color: #FA7902;
        }
    }

    a {
        text-decoration: none;
    }
}



@media(max-width: 1615px) {
    .blue-atf-design{ 
        margin-top: -415px;
    }
}

@media(max-width: 1450px) {
    .blue-atf-design{ 
        margin-top: -470px;
    }

    .socialMedia-section {
        margin-top: -160px;
    }
}


@media(max-width: 900px) {
    .socialMedia-section {
        margin-top: -180px;
    }

    .redLine {
        width: 55px !important;
    }

    .socialMedia-images {
        margin: 0 10px 0 10px !important;
    }

    .email {
        font-size: 20px !important;
    }
}

@media(max-width: 800px) {
    .blue-atf-design{ 
        margin-top: -520px;
    }

    .socialMedia-section {
        margin-top: -200px;
    }
}

@media(max-width: 720px) {
    .blue-atf-design{ 
        margin-top: -575px;
    }

    .socialMedia-section {
        margin-top: -215px;
    }
}

@media(max-width: 690px) {
    .email {
        display: none;
    }
}

@media(max-width: 620px) {
    .blue-atf-design{ 
        margin-top: -630px;
    }

    .socialMedia-section {
        margin-top: -260px;
    }
}

@media(max-width: 580px) {
    .blue-atf-design{ 
        margin-top: -690px;
    }

    .socialMedia-section {
        margin-top: -280px;
    }
}

@media(max-width: 400px) {
    .blue-atf-design{ 
        margin-top: -730px;
    }
}

