<div id="portfolio" class="portfolio-wrapper">

        <div class="headline-wrapper">
            <div class="leftLine-wrapper">
              <div class="leftLine"></div>
            </div>
            <div class="portfolio-headline">Portfolio</div>
            <div class="rightLine-wrapper">
              <div class="rightLine"></div>
            </div>
        </div>
        <div class="introduction-wrapper">
          <span class="portfolio-introduction">Explore a selection of my work here - Interact with projects to see my skills in action.</span>
        </div>

        <div class="projects-wrapper">
            
          @for(singleproject of projects; track singleproject.title; let i = $index) {
            <app-singleproject [project]="singleproject"></app-singleproject>
          }

        </div>
</div>
